.banner {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

.content-wrapper {
 display: flex;
 flex-direction: column;
}

@media (width > 800px) {
  .content-wrapper {
    display: block;
    }
}
