.filters-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  grid-template-areas: "close sortBy";
  padding: 8px;
  max-width: 600px;
  margin: 0 auto;
}

.hamburger-button {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin: 16px 0;
  height: 50px;
}

.filters {
  display: flex;
  flex-direction: column;
  width: 200px;
  grid-area: "filters";
  margin: 16px 0 auto;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 80px; /* Ajusta este valor para que no quede bajo el navbar */
}

.checkboxList {
  text-align: left;
  list-style-type: none;
  color: black;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 12px !important;
  margin-top: 4px !important;
}
.btnSortBy {
  background-color: rgba(50, 50, 50, 0.5);
  grid-area: sortBy;
  margin-top: 8px;
  margin-bottom: 8px;
}
.btnClear {
  background-color: rgba(50, 50, 50, 0.5);
  grid-area: showAll;
}
.categories {
  grid-area: categories;
}
.sizes {
  grid-area: sizes;
}
@media (max-width: 800px) {
  .btnSortBy {
    margin: 0px;
  }
  .filters {
    display: none;
    margin: 0px;
  }

  .filters-container {
    column-gap: 8px;
    row-gap: 16px;
    max-width: 600px;
    margin: 0 0;
    grid-template-areas:
      "close sortBy"
      "filters filters";
  }

  .filters.visible {
    display: grid;
    grid-area: filters;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "categories sizes"
      "showAll showAll";
    z-index: 10;
    gap: 8px;
    margin: 0 auto;
    width: 100%;
  }

  button.hamburger-button {
    display: flex;
    border-radius: 4px;
    margin: 0px;
    grid-area: close;
    justify-content: center;
    align-items: center;
  }
  .label {
    font-size: 12px;
  }
}
